h1  { color: red;   
      text-align: center;  }
	  
	  
body  { 
        background: yellow;
       color: black;  
	   font-size: 16pt;    } 

	 
img.logo {text-align: center;		 }
	   
	   	   
