h1 { color: darkcyan; 
     text-align: center;  } 
h2 { color: darkcyan;  }

body { color: black;
       font-size: 16pt;   } 
	   
img.logo  { text-align: center;  
            padding: 10px;   }