h1 { font-size: 175%;
     color: green;
	 text-align: center;  }

h2 { font-size: 125%;
	color: black;  } 

	
body {
      background: lightblue;
	  color: darkblue;
	  font-size: 16pt;    }	  
	 
	 p { text-align: center;  } 
	

a { color: red 
    text decoration: none 
	a:hover {color: blue} 

	
	
table, th, td 
 { border: 5px solid black;
   border-collapse: collapse;
   font-size: 24pt; 
   color: purple;
   padding: 15px;    } 
              








