h1 { color: green; }
h2 { color: red;   } 

body {
      background: lightblue;
	  color: darkblue;
	  font-size: 18pt;
	  font-family:     }	  

H2 { 
    color: red
    padding: 10px;
    margin: 5px;
background: white  }	

a { color: red 
    text decoration: none 
	a:hover {color: blue} 

	
	
table, th, td { border: 1px solid black; border-collapse: collapse}