h1 { color: black;  
      font-size: 175%; 
	 text-align: center;   } 

	 P { text-align: center;  } 


body {
       background: maroon;
	  color: gold;
      font-size: 16pt;  }   	
	  
img.logo  {text-align: center; }